.mainContainer {
    overflow: auto;
}

.List {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mainContainer::-webkit-scrollbar {
    width: 0;
}

.mainContainer::-webkit-scrollbar-track {
    background: transparent;
}

.mainContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
}