.mainContainer {
    padding: 20px 16px;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: 0.25s;
    border-radius: 8px;
    background: var(--Black-2);
    border: 2px solid transparent;
    &:hover {
        border-color: var(--Violet);
    }
}

.selectedPosition {
    border-color: var(--Violet);
}

.infoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.upperInfoBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.positionSumPerHour {

}

.dndHolder {
    cursor: grab;
}

.sum {
    color: var(--Yellow);
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.hour {
    color: var(--Gray-1);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.positionTitle {
    color: var(--White-1);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.lowerInfoBlock {

}

.otherInfo {
    color: var(--Gray-1);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}