.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.form label {
    color: var(--White-1);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.title {
    color: var(--Gray-1);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
